<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    
    <p class="col-md-4 mb-0 text-body-secondary">© 2025 Cinéphoria, Inc</p>

    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center mb-3 mb-md-0">
      <p class="mb-1 text-body-secondary">34 av Champs Elysées, 75008 Paris</p>
      <p class="mb-0 text-body-secondary">Ouvert de 10h à 23h - Tous les jours</p>
    </div>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Accueil</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Films</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Réservation</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Connexion</a></li>
    </ul>

  </footer>
</div>
