body {
  background-color: rgb(255, 255, 255);
}
.selected {
  border: 2px solid #007bff; 
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); 
}
.card {
  background-color: #bbd5db;
}
.card-add{
  background-color: #fff;
}

@media (max-width: 767px) {
    #films-container .film-card {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        width: 100% !important;
        margin-bottom: 1rem !important;
    }
    
    #films-container {
        display: flex !important;
        flex-direction: column !important;
    }
}


@media (max-width: 767px) {
    .film-card {
        display: block !important;
        width: 100% !important;
        float: none !important;
    }
}

body {
    font-family: 'DM Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Marcellus', serif;
}
