name: Déploiement sur Heroku

on:
  workflow_run:
    workflows: ["Tests"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Cloner le dépôt
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Installer Heroku CLI
        run: curl https://cli-assets.heroku.com/install.sh | sh

      - name: Vérifier Heroku CLI
        run: heroku --version && heroku apps
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}

      - name: Connexion à Heroku
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: echo $HEROKU_API_KEY | heroku auth:token --api-key

      - name: Ajouter télécommande Git Heroku
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          heroku git:remote -a cinephoriaappj
          git remote set-url heroku https://heroku:${HEROKU_API_KEY}@git.heroku.com/cinephoriaappj.git

      - name: Vérifier télécommandes Git
        run: git remote -v

      - name: Pousser vers Heroku
        run: git push heroku master --force
