name: Tests et Déploiement Heroku

on: [push, pull_request]

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest

    services:
      database:
        image: mariadb:10.7.3
        env:
          MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: 'yes'
          MARIADB_DATABASE: cinephoria_test
        ports:
          - 3306/tcp
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          tools: composer:v2
          extensions: mongodb-1.18.0

      - name: Setup Composer Cache
        run: echo "COMPOSER_CACHE_DIR=$(composer config cache-dir)" >> $GITHUB_ENV

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ env.COMPOSER_CACHE_DIR }}
          key: php8.2-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            php8.2-composer-

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-interaction --no-scripts --no-progress

      - name: Install importmap assets
        run: php bin/console importmap:install

      - name: Wait for DB
        run: sleep 10

      - name: Run PHPUnit
        run: php bin/phpunit
        env:
          APP_ENV: test
          DATABASE_URL: mysql://root:@127.0.0.1:${{ job.services.database.ports['3306'] }}/cinephoria_test

  deploy:
    name: Déploiement sur Heroku
    runs-on: ubuntu-latest
    needs: test
    if: ${{ success() }}  

    steps:
      - name: Cloner le dépôt
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Installer Heroku CLI
        run: curl https://cli-assets.heroku.com/install.sh | sh

      - name: Vérifier Heroku CLI
        run: heroku --version && heroku apps
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}

      - name: Ajouter la télécommande Git Heroku
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          git remote add heroku https://heroku:${HEROKU_API_KEY}@git.heroku.com/cinephoriaappj.git
          git remote set-url heroku https://heroku:${HEROKU_API_KEY}@git.heroku.com/cinephoriaappj.git

      - name: Vérifier les télécommandes Git
        run: git remote -v

      - name: Pousser vers Heroku
        run: git push heroku master --force
