name: Tests

on: [push, pull_request]

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest

    services:
      database:
        image: mariadb:10.7.3
        env:
          MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: 'yes'
          MARIADB_DATABASE: cinephoria_test
        ports:
          - 3306/tcp
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: recup le code
        uses: actions/checkout@v4

      - name: installation de php
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          tools: composer:v2
          extensions: mongodb-1.18.0

      - name: Recuperation du chemin du cache composer et j'enregistre dans github
        run: echo "COMPOSER_CACHE_DIR=$(composer config cache-dir)" >> $GITHUB_ENV

      - name: Cache Composer 
        uses: actions/cache@v4
        with:
          path: ${{ env.COMPOSER_CACHE_DIR }}
          key: php8.2-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            php8.2-composer-

      - name: Install Composer 
        run: composer install --prefer-dist --no-interaction --no-scripts --no-progress
        

      - name: Installation des asset
        run: php bin/console importmap:install


      - name: pause pour bdd
        run: sleep 10

      - name: Run PHPUnit lancement de mes tests
        run: php bin/phpunit
        env:
          APP_ENV: test
          DATABASE_URL: mysql://root:@127.0.0.1:${{ job.services.database.ports['3306'] }}/cinephoria
